<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>BonjourMadame API Server</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <style>
      body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
      }
      @keyframes gradient {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
      }
      a { text-decoration: none !important; color: inherit; }
      .logo-center { margin-left: auto; margin-right: auto; width: auto; }
      .accordion-body { margin-bottom: -40px !important; }
    </style>
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container logo-center">
          <a href="https://bonjourmadame.xorhak.io" class="navbar-brand d-flex align-items-center">
            <img src="/static/img/logo.png" height="40px" />
          </a>
        </div>
      </div>
    </header>
    <main>
      <section class="py-3 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light" style="color:white"><b>BonjourMadame API Server</b></h1>
            <h2 class="fw-light" style="color:white">API Documentation</h2>
            <p>
              <a href="https://github.com/djerfy/bonjourmadame-api-server" class="btn btn-outline-light" style="color:white"><i class="fa-brands fa-github"></i> Follow on GitHub</a>
            </p>
          </div>
        </div>
      </section>
    </main>
    <div class="container">
      <div class="row g-3">
        <div class="accordion">
          <div class="accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p class="h5"><span class="badge text-bg-primary">GET</span>&nbsp;<a href="/api/latest"><b>Get a latest picture URL</b></a></p>
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#" style="">
              <div class="accordion-body">
                <div class="response-info">
                  <pre class="prettyprint">
<span class="meta nocode"><b>HTTP 200 OK</b>
<b>Content-Type:</b> <span class="lit">application/json</span>
<b>Vary:</b> <span class="lit">Accept</span>
<b>Allow:</b> <span class="lit">GET</span>
</span>{
    &quot;description&quot;: &quot;Return a latest url picture for bonjourmadame&quot;,
    &quot;node&quot;: &quot;30fb3d5ac12b&quot;,
    &quot;title&quot;: &quot;BonjourMadame, Friday 23 (latest)&quot;,
    &quot;retry&quot;: 0,
    &quot;url&quot;: &quot;https://i0.wp.com/bonjourmadame.fr/wp-content/uploads/2018/12/181227.jpg&quot;
}
                  </pre>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <div class="accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p class="h5"><span class="badge text-bg-primary">GET</span>&nbsp;<b><a href="/api/random">Get random picture URL</b></a></p>
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
              <div class="accordion-body">
                <div class="response-info">
                  <div class="response-info">
                    <pre class="prettyprint">
<span class="meta nocode"><b>HTTP 200 OK</b>
<b>Content-Type:</b> <span class="lit">application/json</span>
<b>Vary:</b> <span class="lit">Accept</span>
<b>Allow:</b> <span class="lit">GET</span>
</span>{
    &quot;description&quot;: &quot;Return a random url picture for bonjourmadame&quot;,
    &quot;node&quot;: &quot;30fb3d5ac12b&quot;,
    &quot;title&quot;: &quot;BonjourMadame, Friday 23 (random)&quot;,
    &quot;retry&quot;: 3,
    &quot;url&quot;: &quot;https://i0.wp.com/bonjourmadame.fr/wp-content/uploads/2018/12/181227.jpg&quot;
}
                    </pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
  </body>
  <footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <span class="text-muted">
        <center>
          2023 - Made with ♥️  in France - <a href="https://github.com/djerfy/bonjourmadame-api-server" alt="BonjourMadame API Server on Github" target="_blank"><i class="fab fa-github"></i>&nbsp;Github</a> - v{{version}}
        </center>
      </span>
    </div>
  </footer>
</html>
